<html>
<body>
	<p>
		You recently submitted a request to reset your MyBuckStory.com password.  To 
		reset your password, click on the following link:
		<br />
		<a href="http://www.mybuckstory.com/user/pwResetConfirm?pw_rst_tkn=${user.passwordResetToken}&email=${user.username}">
			Reset Your Password
		</a>
	</p>

	<p>
		Thanks,<br />
		The MyBuckStory.com Team
	</p>
</body>
</html>