<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sec="http://www.springframework.org/schema/security"	
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="saltSource" class="org.springframework.security.authentication.dao.SystemWideSaltSource">
		<property name="systemWideSalt" value="th!$is@pr3ttyh3@vy$@lt" />
	</bean>
	<bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
		<constructor-arg value="256"/>
	</bean>
	<bean id="passwordEncryptionService" class="com.mybuckstory.core.security.PasswordEncryptionService">
		<property name="passwordEncoder">
			<ref local="passwordEncoder"/>
		</property>
		<property name="saltSource">
			<ref local="saltSource"/>
		</property>
	</bean>
	<bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<property name="userDetailsService">
			<ref bean="userService" />
		</property>		
		<property name="saltSource">
			<ref bean="saltSource" />			
		</property>
		<property name="passwordEncoder">
			<ref bean="passwordEncoder" />			
		</property>
	</bean>	
	
	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass" value="org.springframework.security.core.context.SecurityContextHolder"/>
		<property name="targetMethod" value="setStrategyName"/>
		<property name="arguments"><list><value>MODE_INHERITABLETHREADLOCAL</value></list></property>
	</bean>

	<sec:authentication-manager>
		<sec:authentication-provider user-service-ref="userService" ref="daoAuthenticationProvider"/>
	</sec:authentication-manager>

	<sec:http auto-config="true">
		<sec:intercept-url pattern="/static/**" filters="none" />
		<sec:intercept-url pattern="/images/**" filters="none" />
		<sec:intercept-url pattern="/scripts/**" filters="none" />
		<sec:intercept-url pattern="/style/**" filters="none" />

		<sec:intercept-url pattern="/image.html*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/register/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/refer/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/streamimage.do*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/upload.images.do**" access="ROLE_USER"/>
				
		<sec:intercept-url pattern="/*/manage/**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/*/comment/**" access="ROLE_USER" />
				
		<sec:intercept-url pattern="/ad**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/ad/click**" access="IS_AUTHENTICATED_ANONYMOUSLY" />		
		<sec:intercept-url pattern="/admin**" access="ROLE_ADMIN" />
		
		<sec:intercept-url pattern="/affiliate/create**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/affiliate/save**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/affiliate/edit**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/affiliate/update**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/affiliate/delete**" access="ROLE_ADMIN" />
		
		<sec:intercept-url pattern="/badge/**" access="ROLE_ADMIN" />		
		<sec:intercept-url pattern="/category/**" access="ROLE_ADMIN" />
		
		<sec:intercept-url pattern="/contest/create**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/contest/save**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/contest/edit**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/contest/update**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/contest/delete**" access="ROLE_ADMIN" />
		
		<sec:intercept-url pattern="/contestPrize/**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/dwr/**" access="ROLE_USER" />
		
		<sec:intercept-url pattern="/event/create**" access="ROLE_USER" />
		<sec:intercept-url pattern="/event/save**" access="ROLE_USER" />
		<sec:intercept-url pattern="/event/edit**" access="ROLE_USER" />
		<sec:intercept-url pattern="/event/update**" access="ROLE_USER" />
		<sec:intercept-url pattern="/event/delete**" access="ROLE_ADMIN" />
		
		<sec:intercept-url pattern="/footerLink/**" access="ROLE_ADMIN" />
		
		<sec:intercept-url pattern="/newsArticle/create**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/newsArticle/save**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/newsArticle/edit**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/newsArticle/update**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/newsArticle/delete**" access="ROLE_ADMIN" />
		
		<sec:intercept-url pattern="/prize/**" access="ROLE_ADMIN" />
		
		<sec:intercept-url pattern="/profile/*/mine**" access="ROLE_USER" />
		<sec:intercept-url pattern="/profile/edit**" access="ROLE_USER" />
		<sec:intercept-url pattern="/profile/feed**" access="ROLE_USER" />
		<sec:intercept-url pattern="/profile/message**" access="ROLE_USER" />
		<sec:intercept-url pattern="/profile/update**" access="ROLE_USER" />
		
		<sec:intercept-url pattern="/story/create**" access="ROLE_USER" />
		<sec:intercept-url pattern="/story/save**" access="ROLE_USER" />
		<sec:intercept-url pattern="/story/edit**" access="ROLE_USER" />
		<sec:intercept-url pattern="/story/update**" access="ROLE_USER" />
		<sec:intercept-url pattern="/story/delete**" access="ROLE_ADMIN" />
				
		<sec:intercept-url pattern="/user/list**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/user/create**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/user/save**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/user/edit**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/user/update**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/user/delete**" access="ROLE_ADMIN" />
		
		<sec:intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		
		<sec:form-login login-page="/register/signup?login_required=1" 
				default-target-url="/profile/show/mine/" 
				authentication-failure-url="/register/signup?login_error=1" />
		<sec:remember-me />
	</sec:http>
</beans>